body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background: #f9f9f9;
  color: #333;
}
header, footer {
  background: #222;
  color: white;
  padding: 20px;
  text-align: center;
}
nav a {
  margin: 0 10px;
  color: #00ffff;
  text-decoration: none;
}
nav:not(:last-child){
  border-inline-end: solid 2px #888888;
}
nav a:hover {
  color: #fff;
  text-shadow: 0 0 5px #0ff, 0 0 15px #0ff;
}
main {
  padding: 20px;
}
a {
  color: #007acc;
}
